@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background: #22d3ee;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}
